# Python & Virtual Environment
cards_env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.swp
*.swo

# YOLO / Ultralytics Outputs

# ignore all YOLO outputs EXCEPT your trained weights
runs/
runs_*
runs-cards/

# ignore all .pt weight files
**/weights/*.pt

# allow trained weights from the latest run
!runs_cards/cards_detector4/weights/best.pt
!runs_cards/cards_detector4/weights/last.pt

# Dataset (keep local, don't push)
dataset/
train/
valid/
test/
*.jpg
*.png
*.jpeg
*.bmp
*.gif

# keep sample images
!samples/**

# OS / Editor Files
.DS_Store
Thumbs.db
desktop.ini

# VSCode Settings
.vscode/
*.code-workspace

# Temporary files
*.tmp
*.log
*.zip
*.7z
*.tar
*.gz
*.rar
